<div class="modal fade m-r--16" id="signInModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="confirmationForm" role="form" novalidate>
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Please, confirm your choice</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to {{confirmMessage}} ?
                <div class="modal-footer">
                    <button
                            type="submit"
                            class="btn btn-info"
                            ng-click="confirm()">
                        Confirm
                    </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
