<div class="modal fade m-r--16" id="deletingDevModal">
    <div class="modal-dialog">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                Delete Project
                <button type="button" class="close" ng-click="close('#deletingDevModal')" aria-hidden="true">&times;</button>
            </div>
            <div class="panel-body pan">
                <form name="deletingProjectForm" role="form" novalidate>
                    <div class="form-body pal">

                        <div class="form-group">
                            <h4>
                                Are you sure you want to delete developer {{dev.firstName}} {{dev.lastName}}?
                            </h4>
                        </div>
                        <div class="form-group">
                            <label for="keepTasks" class="control-label">
                                Do you want to delete developer with all his tasks or keep tasks and reassign them later to another developer?
                            </label>
                            <div id="keepTasks" class="row" ng-init="keepTasks=true">
                                <label class="col-md-12">
                                    <input
                                            type="radio"
                                            name="keepTasks"
                                            value="false"
                                            ng-model="keepTasks"
                                    >
                                    Delete with tasks
                                </label>
                                <label class="col-md-12">
                                    <input
                                            type="radio"
                                            name="keepTasks"
                                            value="true"
                                            ng-model="keepTasks"
                                    >
                                    Keep tasks
                                </label>
                            </div>
                        </div>
                        <div ng-if="errorMessage" class="alert alert-danger m-t-15">{{ errorMessage }}</div>
                    </div>
                    <div class="form-actions text-right pal">
                        <button
                                type="submit"
                                class="btn btn-blue"
                                ng-click="DeleteDeveloper('projects/' + projectId + '/devs', dev.id, keepTasks, '#deletingDevModal')">
                            Delete
                        </button>
                        <button type="button" class="btn btn-default" ng-click="close('#deletingDevModal')">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>