<div class="modal fade m-r--16" id="deletingTodoModal">
    <div class="modal-dialog">
        <div class="panel panel-red">
            <div class="panel-heading">
                Delete Project
                <button type="button" class="close" ng-click="close('#deletingTodoModal')" aria-hidden="true">&times;</button>
            </div>
            <div class="panel-body pan">
                <form name="deletingProjectForm" role="form" novalidate>
                    <div class="form-body pal">

                        <div class="form-group">
                            <h5>
                                Are you sure you want to delete task "{{task.description}}"?
                            </h5>
                        </div>
                        <div ng-if="errorMessage" class="alert alert-danger m-t-15">{{ errorMessage }}</div>
                    </div>
                    <div class="form-actions text-right pal">
                        <button
                                type="submit"
                                class="btn btn-red"
                                ng-click="delete('todo', taskId, '#deletingTodoModal')">
                            Delete
                        </button>
                        <button type="button" class="btn btn-default" ng-click="close('#deletingTodoModal')">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>