<div class="modal fade m-r--16" id="deletingProjectModal">
    <div class="modal-dialog">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                Delete Project
                <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
            </div>
            <div class="panel-body pan">
                <form name="deletingProjectForm" role="form" novalidate>
                    <div class="form-body pal">

                        <div class="form-group">
                            <h5>
                                Are you sure you want to delete project {{project.name}}?
                                It will be deleted with all tasks and team.
                            </h5>
                        </div>
                        <div ng-if="errorMessage" class="alert alert-danger m-t-15">{{ errorMessage }}</div>
                    </div>
                    <div class="form-actions text-right pal">
                        <button
                                type="submit"
                                class="btn btn-blue"
                                ng-disabled="newProjectForm.$invalid"
                                ng-click="delete()">
                            Delete
                        </button>
                        <button type="button" class="btn btn-default" ng-click="close()">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>