<div class="container">
    <section class="content-section text-center vertical-center">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2" ng-controller="MainController as cntrl">
                <h2>Welcome to Anna'nas Manager!</h2>
                <p>This application will help you to save your time and plan your work.</p>
                <sign-in-form></sign-in-form>
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" ng-click="showSignUp()">Sing up</button>
            </div>

        </div>

    </section>
    <div class="container text-center footer">
        <p>Copyright &copy; Anna'nas Manager 2017</p>
    </div>
</div>