    <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">
                Projects
            </div>
            <div class="p-t-7 m-l-10 f-r plus_ico">
                <a href class="info-project" ng-click="showNewProject()"><i class="fa fa-plus fa-font-16" aria-hidden="true"></i></a>
            </div>
            <div>
                Here are your projects. As team leader you are allowed to create your own projects.
                You can invite developers into a project and create tasks for them.
            </div>
        </div>
        <div class="clearfix">
        </div>
    </div>
    <div ng-if="errorMessage" class="alert alert-danger m-t-15"><strong>Oops! </strong>{{ errorMessage }}</div>

    <div class="mbl p-t-15">
        <div ng-if="projects.length == 0" class="m-l-10"><h4>You have no projects now. Maybe it's time to create one!</h4></div>

        <div ng-if="projects.length > 0">
            <div class="col-lg-4" ng-repeat="project in projects">
                <div class="panel">
                    <div class="panel-body">
                        <div class="profile panel-width">
                            <div style="margin-bottom: 15px" class="row">
                                <div class="p-t-b-10">
                                    <div>
                                        <div class="project-name">
                                            <h2>
                                                {{project.name}}
                                            </h2>
                                        </div>
                                        <div class="p-t-7 f-r">
                                            <a ui-sref="home.project({projectID: project.id})" class="info-project plus_ico"><i class="fa fa-info-circle fa-font-16" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="project_blocks">
                                            <p>
                                                <strong>Description:</strong>
                                                {{project.description}}
                                            </p>
                                        </div>
                                        <div>
                                            <p>
                                                <strong>Deadline:</strong>
                                                {{project.deadline | date:'mediumDate'}}
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row text-center divider">
                                <div class="col-xs-12 col-sm-6 emphasis">
                                    <h2>
                                        <strong>20</strong></h2>
                                    <p>
                                        <small>Developers</small>
                                    </p>
                                    <button class="btn btn-yellow btn-block">
                                        <span class="fa fa-user"></span>&nbsp; Show team
                                    </button>
                                </div>
                                <div class="col-xs-12 col-sm-6 emphasis">
                                    <h2>
                                        <strong>245</strong></h2>
                                    <p>
                                        <small>Tasks</small>
                                    </p>
                                    <button class="btn btn-blue btn-block">
                                        <span class="fa fa-list"></span>&nbsp; Show tasks
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

