<div id="wrapper">
    <!--BEGIN SIDEBAR MENU-->
    <nav id="sidebar" role="navigation" data-step="2" data-intro="Template has &lt;b&gt;many navigation styles&lt;/b&gt;"
         data-position="right" class="navbar-default navbar-static-side">
        <div class="sidebar-collapse menu-scroll">
            <ul id="side-menu" class="nav">

                <div class="clearfix"></div>
                <li ng-class="{active: $state.current.name == 'dashboard.projects'}">
                    <a ui-sref="dashboard.projects"><i class="fa fa-folder-open fa-fw">
                    <div class="icon-bg bg-orange"></div>
                </i><span class="menu-title">Projects</span></a>
                </li>

                <li ng-class="{active: $state.current.name == 'dashboard.tasks'}">
                    <a ui-sref="dashboard.tasks"><i class="fa fa-tasks fa-fw">
                    <div class="icon-bg bg-pink"></div>
                </i><span class="menu-title">Tasks</span></a>
                </li>

                <li ng-class="{active: $state.current.name == 'dashboard.calendar'}">
                    <a ui-sref="dashboard.calendar"><i class="fa fa-calendar fa-fw">
                    <div class="icon-bg bg-green"></div>
                </i><span class="menu-title">Calendar</span></a>
                </li>

                <li ng-class="{active: $state.current.name == 'dashboard.charts'}">
                    <a ui-sref="dashboard.charts"><i class="fa fa-bar-chart-o fa-fw">
                    <div class="icon-bg bg-orange"></div>
                </i><span class="menu-title">Charts</span></a>
                </li>

            </ul>
        </div>
    </nav>
    <!--END SIDEBAR MENU-->
</div>
<div class="page-content">
    <div ui-view="content"></div>
</div>
