<div>

    <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">
                ToDo List
            </div>
            <div>
                This is tour own todo list. Just add all the tasks that you need to do.
            </div>
        </div>

        <div class="clearfix">
        </div>
    </div>

    <div ng-if="errorMessage" class="alert alert-danger m-t-15">{{ errorMessage }}</div>

<div class="panel panel-red m-10">
    <div class="panel-heading height-50">
        <div class="f-l">All Tasks</div>
        <div class="m-r--14 f-r">
            <button class="btn btn-default" data-toggle="modal" ng-click="showNewTodo()">
                New task
            </button>
        </div>
    </div>
    <div class="panel-body">
        <div ng-if="tasks.length == 0">You have no tasks yet.</div>
        <table class="table table-hover table-striped" ng-if="tasks.length > 0">
            <thead>
            <tr>
                <th>Description</th>
                <th>Priority</th>
                <th>Date added</th>
                <th>Status</th>
                <th>Deadline</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="task in tasks">
                <td>{{task.description}}</td>
                <td>
                    <span
                        ng-class="{
                            'label label-sm label-danger': task.priority == 'HIGH',
                            'label label-sm label-success': task.priority == 'NORMAL',
                            'label label-sm label-info': task.priority == 'LOW'
                        }">
                        {{task.priority}}
                    </span>
                </td>
                <td>{{task.createDate | date:'mediumDate'}}</td>
                <td>
                    <span ng-class="{
                            'label label-sm label-default': task.status == 'NEW',
                            'label label-sm label-warning': task.status == 'IN_PROGRESS',
                            'label label-sm label-success': task.status == 'LOW'
                        }">
                        {{task.status}}
                    </span>
                </td>
                <td>{{task.deadline | date:'mediumDate'}}</td>
                <td>
                    <a><i class="fa fa-pencil"></i></a>&nbsp;
                    <a href ng-click="delete(task.id)"><i class="fa fa-trash-o"></i></a>&nbsp;
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>