html {
    min-height: 100%;
    position: relative;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.color-black {
    color: #000000;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 89vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.f-l {
    float: left;
}

.f-r {
    float: right;
}

.clear {
    clear: both;
}

.d-inline-block{
    display: inline-block;
}

.m-r-5{
    margin-right: 5px;
}

.m-t-15{
    margin-top: 15px;
}

.m-10{
    margin: 10px;
}

.p-l-270{
    padding-left: 270px;
}
.usr-name-li{
    height: 49px;
    padding-top: 3px;
}

.active-li{
    background-color: #1d1d1d;
}

.m-r--14 {
    margin-right: -14px;
}

.m-r--16 {
    margin-right: -16px;
}

.height-50 {
    height: 50px;
}

.width-100 {
    width: 100%;
}

.k-header
{
    width: 100% !important;
}
