html {
    min-height: 100%;
    position: relative;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

@media (min-width: 1200px) {
    .project_blocks {
        max-height: 150px;
        min-height: 150px;
    }
}

/* Большой дисплей */
@media (min-width: 1200px) and (max-width: 1480px) {
    .col-lg-4 {
        width: 50% !important;
    }
}

.p-t-b-10 {
    padding: 15px !important;
}

.color-black {
    color: #000000;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 89vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.f-l {
    float: left;
}

.f-r {
    float: right;
}

.clear {
    clear: both;
}

.d-inline-block{
    display: inline-block;
}

.m-r-5{
    margin-right: 5px;
}

.m-l-10{
    margin-left: 10px;
}

.m-t-15{
    margin-top: 15px;
}

.m-10{
    margin: 10px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-l-14{
    margin-left: 14px;
}

.p-l-270{
    padding-left: 270px;
}

.p-t-50{
    padding-top: 50px;
}

.p-t-7{
    padding-top: 7px;
}

.p-t-15{
    padding-top: 15px;
}

.p-l-20{
    padding-left: 20px;
}

/*.p-t-b-10{*/
    /*padding: 0 10px;*/
/*}*/

.usr-name-li{
    height: 49px;
    padding-top: 3px;
}

.active-li{
    background-color: #1d1d1d;
}

.m-r--14 {
    margin-right: -14px;
}

.m-r--16 {
    margin-right: -16px;
}

.height-50 {
    height: 50px;
}

.width-100 {
    width: 100%;
}

.k-header
{
    width: 100% !important;
}

.info-project {
    opacity: 0.6;
}

.info-project:hover {
    opacity: 1;
    color: inherit;
}

.fa-font-16{
    font-size: 16px !important;
}

.project-name{
    float: left;
    width: 95%;
}

.new-proj-btn {
    width: 10%;
    margin-left: 15px;
    margin-bottom: 15px;
}

.attached-files-list{
    border-top: 1px solid #e5e5e5;
    padding: 5px;
}

.light-grey{
    border-color: #e5e5e5;
}

.text-right{
    text-align: right;
}

.input-border-light{
    border: 1px solid #e5e5e5;
}

.border-none{
    border: none;
}

/* projectInfo-tl.html */
/* позиция карандаша */
.pencil_pos {
    position: absolute;
    right: 30px;
    top: 12px;
    font-size: 19px !important;
}
/* projectInfo-tl.html */
/* форма комментария */
.comment_f {
    border: 2px solid #e5e5e5 !important;
}
.comment_f > .panel-body {
padding: 9px !important;
}
.comment_f > .panel-body > .text-right {
    padding-top: 5px !important;
}

/* projectInfo-tl.html */
/* "+" icon */
.plus_ico {
    position: absolute !important;
    right: 30px !important;
    top: 10px  !important;
}
.plus_ico > a > i {
    font-size: 20px !important;
}
/* projectInfo-tl.html */
/* отступ между иконками в Tasks completed */
.ico-padding {
    padding-right: 16px !important;
}

/* projects-tl.html */
.panel-width {
    width: 100% !important;
}